{
  "presets": [
    "stage-0",
    "flow"
  ],
  "env": {
    "development": {
      "presets": [
        ["env", { "targets": { "node": 10 } }],
        "stage-0"
      ],
      "plugins": [
        "dynamic-import-node",
        ["module-resolver", {
          "root": ["./packages"],
          "alias": {
            "@falcon-client/sql-formatter": "./packages/sql-formatter",
            "@falcon-client/graphql-sequelize": "./packages/graphql-sequelize",
            "@falcon-client/tuql": "./packages/tuql"
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": 10 } }],
        "stage-0"
      ],
      "plugins": [
        "dynamic-import-node",
        ["module-resolver", {
          "root": ["./packages"],
          "alias": {
            "@falcon-client/sql-formatter": "./packages/sql-formatter",
            "@falcon-client/graphql-sequelize": "./packages/graphql-sequelize",
            "@falcon-client/tuql": "./packages/tuql"
          }
        }]
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "targets": { "node": 10 },
          "useBuiltIns": true
        }]
      ],
      "plugins": [
        "dynamic-import-node",
        ["module-resolver", {
          "root": ["./packages"],
          "alias": {
            "@falcon-client/sql-formatter": "./packages/sql-formatter",
            "@falcon-client/graphql-sequelize": "./packages/graphql-sequelize",
            "@falcon-client/tuql": "./packages/tuql"
          }
        }]
      ]
    }
  }
}
